body {
	background-color: #fff;
}

h1 {
	text-align: center;
	border: 2px solid #000;
	background-color:red;
	color: white;
}

h2{
	text-align: center;
	border: 2px solid #000;
	background-color:orange;
	color: white;
}

h3{
	text-align: center;
	border: 2px solid #000;
	background-color: yellow;
	color: black;
}

h4{
	text-align: center;
	border: 2px solid #000;
	background-color:green;
	color: white;
}

h5 {
	text-align: center;
	border: 2px solid #000;
	background-color:blue;
	color: white;
}

h6 {
	text-align: center;
	border: 2px solid #000;
	background-color:violet;
	color: white;
}

a {
display: inline-block;
}
.b {
	font-style: bold;
}

.em {
	font-style: oblique;
}

.ins {
	text-decoration:underline;
}

.italic {
	font-style:italic;
}

.del {
	text-decoration:line-through;
}
