.menu {
	height: 40px;
	width: 100%;
	background-color: black;
	left: 0;
	position: fixed;
	top: 0;
	box-sizing: border-box;
	text-align: center;
	line-height: 30px;
}
 .menu a {
   margin-left: 30px;
	color: white;
	text-decoration: none;
}
